.registerWrapper{
    width: 100%;
    height: 100vh;
    background: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR3HBugqnhV3SqQzXtUhBocUYD9N55Sz6hunVbqLhMx&s') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}